{% extends 'base.html' %}
{% block content %}

<div style="margin-left:300px">
  <div class="container1">
    <div class="content">
      <form action="#" method="post"> <!-- Set method to POST -->
        {% csrf_token %} <!-- Include the CSRF token here -->
        <div class="user-details">
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" name="username" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="password" placeholder="Enter your password" required> <!-- Change input type to "password" for password fields -->
          </div>
        </div>
        <div class="button">
          <input type="submit" style="margin-left: 5px;" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
